@import "bootstrap-5.3.0.less";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

input[type=text],
input[type="email"],
input[type=password],
input[type=number],
input[type="datetime-local"],
textarea {
  font-family: monospace;
}

input.form-control {
  box-shadow: inset 0 1px 3px 1px fade(black, 10%);
}
input.form-control:focus {
  box-shadow: inset 0 1px 3px 1px fade(black, 10%);
}

.grid-cols-2 {
  display: grid;
  grid-template: auto / max-content 1fr;
  .gap-2
}

.form-grid {
  display: grid;
  grid-template: auto / max-content 1fr;
  align-items: top;
  gap: 0.75rem;
}

.form-grid > label {
  margin-top: 0.2rem;
}

.form-footer {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

dialog {
  .border;
  .shadow;
  .rounded;
}

dialog > div.title {
  .fs-3;
}

.form-array-item {
  display: grid;
  grid-template: auto / 1fr max-content;
  align-items: top;
  .gap-1;
  .p-2;
  .mt-2;
  .mb-2;
  .rounded;
  .bg-body-tertiary;
}

.form-array-item-controls.btn-group-vertical {
  justify-content: start;
}
.form-array-item-controls.btn-group-vertical > button.btn {
  flex-grow: 0;
}
